In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('C:/Users/mitev/Desktop/Pr√°cticas/tuberculosis_proyect/dataset/tuberculosis_xray_dataset.csv')

In [5]:
df.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1,2,3,2.37,Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3,0,9,6.09,Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7,0,3,2.86,Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2,0,6,4.57,Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7,2,5,13.86,High,Yes,Low,No,Never,Yes,Tuberculosis

In [6]:
# Lista de columnas que quieres formatear
cols_with_decimals = ["Weight_Loss"]  # puedes a√±adir m√°s columnas aqu√≠

# Convertir los valores a string con coma como separador decimal
for col in cols_with_decimals:
    df[col] = df[col].apply(lambda x: f"{x:.2f}".replace('.', ','))

In [7]:
df.head()

,Patient_ID,Age,Gender,Chest_Pain,Cough_Severity,Breathlessness,Fatigue,Weight_Loss,Fever,Night_Sweats,Sputum_Production,Blood_in_Sputum,Smoking_History,Previous_TB_History,Class
0,PID000001,69,Male,Yes,1,2,3,"2,37",Moderate,Yes,Medium,Yes,Former,Yes,Normal
1,PID000002,32,Female,Yes,3,0,9,"6,09",Moderate,No,Medium,No,Current,Yes,Normal
2,PID000003,89,Male,No,7,0,3,"2,86",Mild,Yes,Medium,No,Current,No,Tuberculosis
3,PID000004,78,Female,Yes,2,0,6,"4,57",Moderate,No,High,Yes,Never,Yes,Tuberculosis
4,PID000005,38,Male,No,7,2,5,"13,86",High,Yes,Low,No,Never,Yes,Tuberculosis

In [8]:
# Guardar el DataFrame en un archivo CSV con codificaci√≥n UTF-8
df.to_csv("tuberculosis_xray_preparado.csv", index=False, encoding="utf-8")